{% load static %}
<link rel="stylesheet" href="{% static 'core/style.css' %}">
<!DOCTYPE html>
<html>
<head>
    <title>Travel Connect</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <div class="profile-dropdown">
                <button class="profile-dropbtn">Profile</button>
                <div class="profile-dropdown-content">
                    {% if user.is_admin %}
                        <a href="{% url 'profile' %}">My Dashboard</a>
                    {% elif user.is_guide %}
                        <a href="{% url 'profile' %}">My Profile</a>
                        <a href="{% url 'map_ui' %}">My Map</a>
                        <a href="{% url 'itineraries' %}">My Itineraries</a>
                    {% else %}
                        <a href="{% url 'profile' %}">My Profile</a>
                        <a href="{% url 'map_ui' %}">My Map</a>
                        <a href="{% url 'itineraries' %}">My Itineraries</a>
                    {% endif %}
                </div>
            </div>
            <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn logout-btn">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </nav>

    {% block content %}{% endblock %}

    <footer>
        <p>&copy; 2025 Travel Connect | All Rights Reserved</p>
    </footer>
</body>
</html>
